#eol-certificates input.btn {
    background-image: none;
    box-shadow: none;
    text-shadow: none !important;
    border-radius: 0;
    letter-spacing: 0;
    padding: 7px 18px;
}

#eol-certificates{
    min-height: 85vh;
}

#eol-certificates .alert.error {
    background-color: #f44336;
}

.eolreportcertificate-success-msg{
    display: none;
    margin: 0;
    padding-bottom: 20px;
    color: #36abc7;
    background: #f2f9f2;
    border-top: 2px solid #008401;
    border-radius: 1px;
    padding: 10px 15px;
    font-weight: 600;
}
.eolreportcertificate-error-msg{
    display: none;
    margin: 0;
    padding-bottom: 20px;
    color: #cb0712;
    border-top: 2px solid #d0021b;
    background: #fae6e8;
    border-radius: 1px;
    padding: 10px 15px;
    font-weight: 600;
}
.eolreportcertificate-warning-msg{
    display: none;
    margin: 0;
    padding-bottom: 20px;
    color: #cb4f07;
    border-top: 2px solid #d47100;
    background: #fae6e8;
    border-radius: 1px;
    padding: 10px 15px;
    font-weight: 600;
}
